

// @import '../../less/variables.less';     // только для удобства обращения к переменным


.page-header {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
    min-height: 20px;
    font-family: @ptsanscap;

    &__container {
    .container();
    }
    &__inner {
    .row();
    }

    &__logo {
      .make-lg-column(2);
      .make-xs-column(8);
      margin-left: 16.6666667%;
      text-align: center;


      @media (min-width: @screen-lg) {
        text-align: left;
      }
    }

    &__toggler {
      .make-xs-column(2);
      padding-top: 18px;

      @media (min-width: @screen-lg) {
        display: none;
      }

    }

    &__main-nav {
      display: none !important;

      // @media (min-width: @screen-lg) {
      // display: inline-block !important;
      // }

    }

    &__contacts {
      display: none;
      .make-lg-column(3);
      .make-md-column(3);
       padding-top: 25px;
      font-size: 18px;
      line-height: 24px;

    }

    &__btn {
    .make-lg-column(2);
    .make-md-column(2);
    text-align: right;
    padding-top: 26px;
    display: none;


      @media (min-width: @screen-md) {

      }
    }

    &__phone {
    display: none;
    font-size: 14px;
    line-height: 18px;
    font-family: @firasans;
    font-weight: 300;
    color: @black;


    @media (min-width: @screen-md) {
      display: block;
    }

}

    &__addres {
    display: none;

    @media (min-width: @screen-md) {
      display: block;
    }
  }
}

.menu-toggler {
  text-decoration: none;
  cursor: pointer;
  width: 28px;
  height: 20px;
  float: right;

  span {
    width: 28px;
    height: 4px;
    background-color: #ff7435;
    margin-bottom: 4px;
    display: block;
  }
}



.main-nav-toggler {
    // display: none;
    width: 100%;
    &__list {
      list-style: none;
      text-align: center;
    }
    &__item {
      display: list-item;
      padding: 14px 0;
      border-bottom: 1px solid #ebebeb;

       a  {
         line-height: 18px;
         text-decoration: none;
         cursor: pointer;
         font-size: 14px;
         line-height: 18px;
         font-weight: 300;
         color: #191919;
         text-transform: uppercase;
      }
  }
}