* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #191919;
  font-weight: 300;
}
a {
  text-decoration: none;
}
li {
  display: inline-block;
}
h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  display: block;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.col-xs-1 {
  display: block;
  -webkit-flex: 0 0 8.33333333%;
      -ms-flex: 0 0 8.33333333%;
          flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
.col-xs-2 {
  display: block;
  -webkit-flex: 0 0 16.66666667%;
      -ms-flex: 0 0 16.66666667%;
          flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.col-xs-3 {
  display: block;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}
.col-xs-4 {
  display: block;
  -webkit-flex: 0 0 33.33333333%;
      -ms-flex: 0 0 33.33333333%;
          flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.col-xs-5 {
  display: block;
  -webkit-flex: 0 0 41.66666667%;
      -ms-flex: 0 0 41.66666667%;
          flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
.col-xs-6 {
  display: block;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
.col-xs-7 {
  display: block;
  -webkit-flex: 0 0 58.33333333%;
      -ms-flex: 0 0 58.33333333%;
          flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.col-xs-8 {
  display: block;
  -webkit-flex: 0 0 66.66666667%;
      -ms-flex: 0 0 66.66666667%;
          flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.col-xs-9 {
  display: block;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}
.col-xs-10 {
  display: block;
  -webkit-flex: 0 0 83.33333333%;
      -ms-flex: 0 0 83.33333333%;
          flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.col-xs-11 {
  display: block;
  -webkit-flex: 0 0 91.66666667%;
      -ms-flex: 0 0 91.66666667%;
          flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
.col-xs-12 {
  display: block;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  display: block;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 768px) {
  .col-sm-1 {
    display: block;
    -webkit-flex: 0 0 8.33333333%;
        -ms-flex: 0 0 8.33333333%;
            flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    display: block;
    -webkit-flex: 0 0 16.66666667%;
        -ms-flex: 0 0 16.66666667%;
            flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    display: block;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    display: block;
    -webkit-flex: 0 0 33.33333333%;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    display: block;
    -webkit-flex: 0 0 41.66666667%;
        -ms-flex: 0 0 41.66666667%;
            flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    display: block;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    display: block;
    -webkit-flex: 0 0 58.33333333%;
        -ms-flex: 0 0 58.33333333%;
            flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    display: block;
    -webkit-flex: 0 0 66.66666667%;
        -ms-flex: 0 0 66.66666667%;
            flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    display: block;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    display: block;
    -webkit-flex: 0 0 83.33333333%;
        -ms-flex: 0 0 83.33333333%;
            flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    display: block;
    -webkit-flex: 0 0 91.66666667%;
        -ms-flex: 0 0 91.66666667%;
            flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    display: block;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  display: block;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 1200px) {
  .col-md-1 {
    display: block;
    -webkit-flex: 0 0 8.33333333%;
        -ms-flex: 0 0 8.33333333%;
            flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    display: block;
    -webkit-flex: 0 0 16.66666667%;
        -ms-flex: 0 0 16.66666667%;
            flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    display: block;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    display: block;
    -webkit-flex: 0 0 33.33333333%;
        -ms-flex: 0 0 33.33333333%;
            flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    display: block;
    -webkit-flex: 0 0 41.66666667%;
        -ms-flex: 0 0 41.66666667%;
            flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    display: block;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    display: block;
    -webkit-flex: 0 0 58.33333333%;
        -ms-flex: 0 0 58.33333333%;
            flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    display: block;
    -webkit-flex: 0 0 66.66666667%;
        -ms-flex: 0 0 66.66666667%;
            flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    display: block;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    display: block;
    -webkit-flex: 0 0 83.33333333%;
        -ms-flex: 0 0 83.33333333%;
            flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    display: block;
    -webkit-flex: 0 0 91.66666667%;
        -ms-flex: 0 0 91.66666667%;
            flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    display: block;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
.page-header {
  padding: 10px 0;
  border-bottom: 1px solid #ebebeb;
}
.page-header__inner {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
}
.page-header__logo {
  text-align: center;
}
@media (min-width: 1200px) {
  .page-header__logo {
    text-align: left;
  }
}
.page-header__contacts {
  font-size: 18px;
  line-height: 24px;
  font-family: 'PT Sans Caption';
}
.page-header__btn {
  display: none;
}
@media (min-width: 1200px) {
  .page-header__btn {
    display: block;
  }
}
.page-header__phone {
  display: none;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: #191919;
}
@media (min-width: 1200px) {
  .page-header__phone {
    display: block;
  }
}
.page-header__addres {
  display: none;
}
@media (min-width: 1200px) {
  .page-header__addres {
    display: block;
  }
}
.main-nav {
  padding: 0;
}
@media (min-width: 1200px) {
  .main-nav {
    display: block;
  }
}
.main-nav__list {
  display: none;
  list-style-type: none;
  padding: 0px;
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: block;
  }
}
.main-nav__list a {
  color: #191919;
}
.main-nav__list a:hover {
  color: #ff7435;
}
.main-nav__list-toggler {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.main-nav__item--hidden {
  display: list-item;
  padding: 14px 0;
  border-bottom: 1px solid #ebebeb;
}
.main-nav__toggler {
  display: inline-block;
}
@media (min-width: 1200px) {
  .main-nav__toggler {
    display: none;
  }
}
.main-nav--hidden {
  display: none;
}
.menu-toggler {
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 28px;
  min-height: 20px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu-toggler span {
  width: 28px;
  height: 4px;
  background-color: #ff7435;
  margin-bottom: 4px;
  display: block;
}
.page-footer__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
@media (min-width: 768px) {
  .page-footer__inner {
    min-height: 130px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .page-footer__inner {
    min-height: 100px;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page-footer__addres {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__addres {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'PT Sans Caption';
    font-size: 18px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page-footer__contacts {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'PT Sans Caption';
    font-size: 18px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page-footer__social-list .social-list {
  margin: 15px 0;
  padding: 0 0;
}
@media (min-width: 768px) {
  .page-footer__social-list .social-list {
    margin: 10px 0;
  }
}
.btn {
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
  background-image: none;
  text-decoration: none;
  background-color: #ff7435;
  padding: 10px 30px;
  border-radius: 70px;
  display: inline-block;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  border: none;
  outline: none;
  transition: ease-in-out all 400ms;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #e85715;
  text-decoration: none;
  color: #fff;
}
.btn--green {
  background-color: #0ab89d;
  padding: 17px 0;
  border-radius: 0;
  width: 100%;
}
.btn--green:hover {
  background-color: #079b84;
  text-decoration: none;
  color: #fff;
}
.btn--icon-calendar {
  padding-left: 20px;
  padding-right: 20px;
  background: url('../');
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px 16px;
  position: relative;
  top: 2px;
}
.btn--green {
  background-color: #0ab89d;
  border: 2px solid #fff;
  padding: 8px 28px;
}
.btn--green:hover {
  color: #0ab89d;
  background-color: #fff;
}
.details__btn {
  background: none !important;
  padding: 0;
  border-radius: 0;
  color: #191919;
}
.details__btn:hover {
  border-bottom: 1px dashed #191919;
  background: none;
  color: #191919;
}
